<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-white" style="background-color: #111;">
<div class="absolute inset-0 flex justify-center items-center">
    <div class="container w-1/4 mx-auto mt-10 bg-zinc-800 p-6 rounded-lg">
        <h1 class="text-2xl font-semibold mb-5 text-blue-500">Update User</h1>
        <form action="/update/api/update" method="POST">
            <div class="mb-6">
                <label class="block text-emerald-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input class="bg-neutral-800 text-emerald-400 appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="name" type="name" placeholder="Enter Name" name="name" required>
            </div>
            
            <div class="mb-4">
                <label class="block text-emerald-700 text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input class="bg-neutral-800 text-emerald-400 shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter username" name="username" required>
            </div>
            <div class="mb-6">
                <label class="block text-emerald-700 text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input class="bg-neutral-800 text-emerald-400 shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Update User
                </button>
            </div>
        </form>
    </div>
</div>
</body>

</html>
